body{
    background-color: #B0E0E6;
}
body header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    color: lightblue;
    box-shadow: 0px 10px 4px -1px rgba(34, 60, 80, 0.2);
    background-color: white;
}
body nav{
    text-align: right;
    font-size: 18px;
    margin: 2px 15px 0 0;
}
nav a{
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
    color: lightblue;
}
header h1{
    font-size: 22px;
    font-weight: bold;
    text-align: end;
}
.take-a-mortgage-section{
    margin: 60px 30px;
}
body h2{
    font-size: 20px;
}
body label{
    display: block;
    margin: 25px 0 8px 5px;
}
input{
    width: 100%;
    padding: 10px;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.1875rem;
}
.submit-button{
    margin-top: 20px;
    text-align: center;
}
.submit-button button{
    padding: 13px 40px;
    border: none;
    border-radius: 4px;
    background-color: #7289da;
    cursor: pointer;
}
.main-first-page{
    display: flex;
}
.information-section{
    margin: 140px 15%;
    background-color: white;
    height: fit-content;
    padding: 30px;
    border-radius: 60px 45px 30px 15px/15px 30px 45px 60px;
}
.information-section h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
}
ul li{
    line-height: 25px;
}
.payment-information-section{
    display: flex;
    margin-top: 60px;
    margin-left: 60px;
}
.payment-information-section div{
    margin-bottom: 30px;
}
.payment-information-section > div{
    margin-right: 60px;
}
.login-input{
    width: 10%;
    margin: 40px 0 0 60px;
}
.delete-bank{
    margin-left: 5%;
    display: none;
}
.delete-bank button{
    padding: 13px 40px;
    border: none;
    border-radius: 4px;
    background-color: #7289da;
    cursor: pointer;
}